[submodule "vendor/plugins/yaml_db"]
	path = vendor/plugins/yaml_db
	url = git://github.com/adamwiggins/yaml_db.git
[submodule "vendor/plugins/delayed_job"]
	path = vendor/plugins/delayed_job
	url = http://github.com/tobi/delayed_job.git
