
@font-face {
	font-family: 'YanoneRegular';
	src: url('../fonts/yanonekaffeesatz-regular-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneRegular';
	src: url(//:) format('no404'), url('../fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'), url('../fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype'), url('../fonts/yanonekaffeesatz-regular-webfont.svg#webfontgQAm5Ofa') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneBold';
	src: url('../fonts/yanonekaffeesatz-bold-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneBold';
	src: url(//:) format('no404'), url('../fonts/yanonekaffeesatz-bold-webfont.woff') format('woff'), url('../fonts/yanonekaffeesatz-bold-webfont.ttf') format('truetype'), url('../fonts/yanonekaffeesatz-bold-webfont.svg#webfontgQAm5Ofa') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*----------------------------------------------------------------------------------------------------------------------------
  COMMON STYLES
##############################################################################################################################*/

body {
	font-family: Arial ,Verdana , Helvetica, sans-serif;
	font-size: x-small;
	font-variant:normal;
	font-style:normal;
	font-weight:normal;
	line-height:1.5em;
	background:#D5E2F2;
}

*{
	margin: 0;
	padding: 0;
	font-size:x-small;
}

.accesible {
	display: none;
}

a {
	color: #337CC5;
	text-decoration:none;
	outline:none;
}

a:hover {
  text-decoration:underline;
}

ul {
  list-style:none;
}


select {
  font-size:1em;
}

h2 {
  font-family:'YanoneRegular', Arial, Helvetica, sans-serif;
  font-size:28px;
  color:#3383D3;
  font-weight:normal;
  line-height:normal;
  padding-bottom:.5em;
/*  text-shadow:1px 1px 1px #CCC;*/
}


.wrapper{
  width:91em;
  padding:2.5em;
  margin:0 auto;
} 


/*----------------------------------------------------------------------------------------------------------------------------
  HEADER
##############################################################################################################################*/

#header {
  height:5.6em;
  left:50%;
  margin-left:-50em;
  width:95em;
  padding:2.5em;
  z-index:10000;
  position:absolute;
  background:#FFF;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#header div{
  float:left;
}

#header div a {
  display:block;
  width:12em;
  height:3.1em;
  background:url('../images/logo.gif') no-repeat;
  text-indent:-9999em;
}

#header div h1 {
  display:block;
  font-size:1.1em;
  color:#999999;
  font-weight:normal;
  padding-top:.4em;
}

#header ul {
  float:right;
  display:inline;
  width:35em;
  background:url('../images/menu_bg.gif') no-repeat top right ;
  margin-right:-4.4em;
  padding-bottom:4em;
}

#header ul li{
  float:left;
  display:inline;
  list-style:none;
  padding:1.2em 2em ;
  background:#F53333 url('../images/menu_border_tile.gif') repeat-y top right;
}

#header ul li a{
  color:#FFF;
  font-weight:bold;
  font-size:1.3em;
}

#header ul li.lines {
  position:relative;
}

#header ul ul{
  display:none;
/*  display:block;*/
  left:0;
  position:absolute;
  top:40px;
  width:14em;
  padding:1.5em;
  background:#F53333;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#header ul ul li {
  float:none;
  display:block;
  padding:0 0 .4em .4em;
  background:none;
}

#header ul ul li a{
color:#FFF;
}

/*----------------------------------------------------------------------------------------------------------------------------
  MAP
##############################################################################################################################*/

#map_canvas {
  z-index:1;
  position:relative;
}

/*----------------------------------------------------------------------------------------------------------------------------
  CONTENT 
##############################################################################################################################*/

#content {
  position:relative;
  overflow:hidden;
  z-index:100;
  margin-top:-17em;
  background:#FFF;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -border-radius:10px;
  margin-bottom:7px;
}


/*----------------------------------------------------------------------------------------------------------------------------
  LINES
##############################################################################################################################*/

.status_panel {
  position:fixed;
  width:100%;
/*  top:120px;*/
  bottom:0;
  left:0;
  z-index:100000;
/*  background:#F53333;*/
  background:#FFF;
  padding:2em 1em .2em 2em;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: 0 -2px 5px #CCC;
  -webkit-box-shadow: 0 -2px 5px #CCC;
  -box-shadow: 0 -2px 5px #CCC;
}

.status_panel h2 {
  color:#3383D3;
  font-weight:normal;
  font-size:1.6em;
  position:absolute;
  top:-25px;
  text-transform:uppercase;
  background:#FFF;
  padding:4px 10px 6px 10px;
  -moz-box-shadow: 0px -1px 1px #CCC;
  -webkit-box-shadow: 0px -1px 1px #CCC;
  -box-shadow: 0px -1px 1px #CCC;
}

.lines_status {
  overflow:hidden;
  width:111em;
  margin:0 auto;
}

.lines_status li {
  float:left;
  display:inline;
  width:8.5em;
  padding-bottom:1.5em;
  overflow:hidden;
}

.lines_status li .line_number {
  margin-right:.2em;
  font-size:1.1em;
  width:20px;
  height:12px;
  padding-top:3px;
}

.lines_status li span {
  background-image: url('../images/line_status_icons.gif');
  background-repeat: no-repeat;
  display:inline-block;
  width:44px;
  height:15px;
  text-indent:-99999em;
}

.lines_status li span.ok{
   
  background-position: -2px -19px;  
}

.lines_status li span.breakdown_1{
  background-position: -2px -37px;
}

.lines_status li span.breakdown_2{  
  background-position: -2px -2px; 
}

.line_number {
  display:inline-block;
  width:26px;
  height:15px;
  text-align:center;
  vertical-align:middle;
  font-size:1.3em;
  font-weight:bold;
  padding:.4em 0;
  margin-right:0.5em;
}

.line_1{
	background-color:#2DBEF0;
	border-color:#2DBEF0;
	color:#FFF;
}
.line_2{
	background-color:#ED1C24;
	border-color:#ED1C24;
	color:#FFF;
}

.line_3 {
	background-color:#FFD000;
	border-color:#FFD000;
	color:#FFF;
}
.line_4{
	background-color:#B65518;
	border-color:#B65518;
	color:#FFF;
}
.line_5{
	background-color:#8FD400;
	border-color:#8FD400;
	color:#FFF;
}
.line_6{
	background-color:#98989B;
	border-color:#98989B;
	color:#FFF;
}
.line_7{
	background-color:#EE7518;
	border-color:#EE7518;
	color:#FFF;
}
.line_8{
	background-color:#EC82B1;
	border-color:#EC82B1;
	color:#FFF;
}
.line_9 {
	background-color:#A60084;
	border-color:#A60084;
	color:#FFF;
}

.line_10{
	background-color:#005AA9;
	border-color:#005AA9;
	color:#FFF;
}
.line_11{
	background-color:#009B3A;
	border-color:#009B3A;
	color:#FFF;
}
.line_12{
	background-color:#A49800;
	border-color:#A49800;
	color:#FFF;
}
.line_R{
  border:1px solid #000;
  width:24px;
  height:13px;
}




ul#last_incidents p{
  font-size:1.3em;
  color:#666;
}

ul#last_incidents p .line_number {
  font-size:1em;
}

ul#last_incidents p strong {
  font-size:inherit;
}


/*----------------------------------------------------------------------------------------------------------------------------
  FOOTER
##############################################################################################################################*/

#footer {
  overflow:hidden;
  padding-top:0;
}

#footer p {
  float:left;
}

#footer ul {
  float:right;
  width:300px;
  text-align:right;
}

#footer ul li{
  display:inline;
}



/*----------------------------------------------------------------------------------------------------------------------------
  FORM NEW INCIDENT
##############################################################################################################################*/

form#new_incident {
  width:42em;
  float:left;
  clear:left;
}

form#new_incident p {
	padding: 0 0 1.5em 0;
}

form#new_incident p.line {
  float:left;
  clear:left;
}

form#new_incident label {
	font-size: 1.4em;
	display:block;
	color: #333;
	font-weight:bold;
	padding-bottom:5px;
}

form#new_incident input {
	font-size:1.4em;
	border:1px solid #CCC;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-border-radius:4px;
	padding:.2em .7em .3em .7em;
	color:#666;
  font-size:1.3em;
  -moz-box-shadow:inset 1px 1px 5px #EEEEEE, 1px 1px 5px #EEEEEE ;
  -webkit-box-shadow:inset -1px -1px 2px #EEEEEE, 1px 1px 5px #EEEEEE ;
  -box-shadow:inset -1px -1px 2px #EEEEEE, 1px 1px 5px #EEEEEE ;
}

form#new_incident option{
  color:#666;
  font-size:1.1em;
  padding:0 5px 2px 5px;
}

form#new_incident .selector span {
  font-size:1.1em;
}

form#new_incident button {
	border:1px solid #CECECE;
	padding:0.5em;
	font-weight: bold;
	font-size: 1.5em;
}

form#new_incident div {
  margin:0;
}

form#new_incident .direction {
  overflow:hidden;
}

form#new_incident .direction span{
  float:left;
  display:inline;
  padding-right:15px;
  width:150px;
}

form#new_incident .direction span label {
  white-space:nowrap;
  font-weight:normal;
  font-size:1.3em;
  display:block;
  padding-top:1px;
}

form#new_incident .direction span .radio {
  margin-right:5px;
}

form#new_incident .direction span span{
  width:auto;
  padding:0;
}

/*----------------------------------------------------------------------------------------------------------------------------
  LINE - show
##############################################################################################################################*/

.line_show h2 {
  font-size:47px;
  padding-bottom:7px;
}

.line_show h2 strong{
  font-size:47px;
  font-family:'YanoneBold';
  font-weight:normal;
}

.line_stations{
  float:left;
  clear:both;  
  padding:0 .7em 2.5em 0;
  background:url('../images/line_segment_end.gif') no-repeat right top;
}

.line_stations li{
  background:url('../images/line_segment.gif') repeat-x left top;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width:26px;
  padding-top:5px;
}

.line_stations li p {
  behavior:url('../javascripts/-ms-transform.htc');
  width:26px;
  height:100px;
  margin-left:-2em;
  white-space:nowrap;
  font-size:1.2em;
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  text-align:left;
  color:#666;
}










a.line{
	color: #FFF;
	background: #1F5570;
	text-decoration: underline;
	padding: 0.15em 0.3em;
}
a.line:hover{
	color: #FF9900;

}
fieldset {
	border: none;
}

span.station {
	font-weight: bold;
	font-size: 1.6em;
	color: #1F5570;
}
.map_pop p.date{
	font-size: 1.3em;
	margin-top: 0.7em;
	font-weight: bold;
}

ul#last_incidents {
	padding-bottom:2em;
	font-size: 1.3em;
	list-style:none outside none;
	color: #888;
	clear:both;
}

ul#last_incidents li{
	padding:0.3em 0;
}
