
body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: x-small;
	font-variant:normal;
	font-style:normal;
	font-weight:normal;
	line-height:1.5em;
}

*{
	margin: 0;
	padding: 0;
}
.accesible {
	display: none;
}
a {
	color: #1F5570;
}
a:hover {
	color: #FFF;
	background: #1F5570;
	text-decoration: underline;
}
a.line{
	color: #FFF;
	background: #1F5570;
	text-decoration: underline;
	padding: 0.15em 0.3em;
}
a.line:hover{
	color: #FF9900;

}
fieldset {
	border: none;
}

.wrapper {
	margin: 0 auto;
	width: 96em;
	margin-top: 2em;
	margin-bottom: 4em;
}

h1 {
	font-size: 4em;
	margin-bottom: 1em;
}

h1 a{
	text-decoration: none;
}
h2{
	font-size: 3em;
	color: #1F5570;
}
.map_pop span.line_number {
	border:1px solid;
	font-size:1.4em;
	font-weight:bold;
	padding:0.3em 0.6em;
	text-align:center;
	margin-right: 0.5em;
}
span.station {
	font-weight: bold;
	font-size: 1.6em;
	color: #1F5570;
}
.map_pop p.date{
	font-size: 1.3em;
	margin-top: 0.7em;
	font-weight: bold;
}
.line_1{
	background-color:#2DBEF0;
	border-color:#2DBEF0;
	color:#FFFFFF;
}
.line_2{
	background-color:#ED1C24;
	border-color:#ED1C24;
	color:#FFFFFF;
}

.line_3 {
	background-color:#FFD000;
	border-color:#FFD000;
	color:#000000;
}
.line_4{
	background-color:#B65518;
	border-color:#B65518;
	color:#FFFFFF;
}
.line_5{
	background-color:#8FD400;
	border-color:#8FD400;
	color:#FFFFFF;
}
.line_6{
	background-color:#98989B;
	border-color:#98989B;
	color:#FFFFFF;
}
.line_7{
	background-color:#EE7518;
	border-color:#EE7518;
	color:#FFFFFF;
}
.line_8{
	background-color:#EC82B1;
	border-color:#EC82B1;
	color:#FFFFFF;
}
.line_9 {
	background-color:#A60084;
	border-color:#A60084;
	color:#FFFFFF;
}


.line_10{
	background-color:#005AA9;
	border-color:#005AA9;
	color:#FFFFFF;
}
.line_11{
	background-color:#009B3A;
	border-color:#009B3A;
	color:#FFFFFF;
}
.line_12{
	background-color:#A49800;
	border-color:#A49800;
	color:#FFFFFF;
}


#map_canvas {
	margin-bottom: 2em;
}

ul#last_incidents {
	padding: 1em;
	font-size: 1.3em;
	list-style:none outside none;
	color: #888;
}

ul#last_incidents li{
	border-bottom:2px solid #1F5570;
	padding:0.3em 0;
}
form.new_incident {
	padding: 1em;
}
form.new_incident p {
	padding: 0.7em 0;
}
form.new_incident label {
	font-size: 1.5em;
	color: #888;
}

form.new_incident input {
	font-size:2em;
	height:1em;
	padding:0.3em;
	width:30em;
}

form.new_incident select {
	font-size: 1.5em;
}
form.new_incident button {
	border:1px solid #CECECE;
	padding:0.5em;
	font-weight: bold;
	font-size: 1.5em;
}

div#report {
	padding: 1em;
	background: #F7F7F7;
	height: 2em;
	
}
div#report ul{
		list-style:none outside none;
}
div#report ul li{
	float: left;
	padding-left: 1em;
}

div#report a{
	font-size: 2em;
}