<p>Hola</p>

<p>Hay una nueva incidencia en la linea <%=@incident.line.number%>, en la estación de <%= @incident.station.name%> <%= @incident.direction.blank? ? "pero no tenemos muy claro en que sentido" : "en sentido #{@incident.direction.name}"%>.</p>


<p>Ya sabes, busca una alternativa si no quieres esperar mucho ;)</p>
