<div id="footer" class="wrapper">
 <p>Metroroto.com 2010 - <a href="#">Aviso legal</a> - Un proyecto de @larubyroom.</p>
 <ul>
   <li><a href="#">¿Qué es metroroto?</a></li>
   <li><a href="#">¿Cómo se usa?</a> </li>
 </ul>  
</div><!-- #footer -->