<div id="map_canvas" style="width:100%; height:900px"></div>

<div class="status_panel">
  <h2>Estado de las líneas</h2>
  <ul class="lines_status">
  		<%=render :partial => "line", :collection => Line.find(:all)%>
  </ul>
</div><!-- .status_panel -->

<div id="content" class="wrapper">
  <h2>Últimas incidencias</h2>
  <div id="incidents">
  	<%= render :partial => 'last_incidents' %>
  </div>
  
  <%= render :partial => 'new_incident' %>

</div><!-- content -->



<% content_for :js_includes do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
    
    	if (GBrowserIsCompatible()) {
          map = new GMap2(document.getElementById("map_canvas"));
          map.setCenter(new GLatLng(40.4166909, -3.7003454), 13);
          map.addControl(new GSmallMapControl());
          <%= incident_markers_grouped_by_station @incidents %>
    
    	//Create new Tile Layer
    	  var gTileUrlTemplate = 'http://mt1.google.com/vt/lyrs=m@121,transit|vm:1&hl=en&opts=r&x={X}&y={Y}&z={Z}';
    	  var tileLayerOverlay = new GTileLayerOverlay(
    	    new GTileLayer(null, null, null, {
    	      tileUrlTemplate: gTileUrlTemplate,
    	      isPng:true,
    	      opacity:0.8
    	    })
    	  );
    	  map.addOverlay(tileLayerOverlay);
        }
    
    
    
    
    
    
    
    });

  </script>
<% end %>