
  
  <div class="section">
    <h2>¿Qué es Metroroto?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at turpis a turpis lacinia venenatis vitae et velit. Nunc libero lorem, pharetra in rutrum vel, blandit nec dolor. Morbi at lacus sapien. Proin placerat mollis lectus, nec tristique lorem sagittis a. Quisque pulvinar, quam at ullamcorper dignissim, leo mauris sodales mauris, sed sodales lectus diam vel nunc. Suspendisse potenti.</p>
    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam quis dolor turpis. Morbi luctus augue at odio dapibus sit amet posuere arcu bibendum. Maecenas rutrum congue bibendum. Ut mi odio, tristique at tempus et, convallis in nunc. Pellentesque vestibulum metus id tortor venenatis id adipiscing lectus consectetur. Vivamus tempor lectus vel lectus viverra ut pellentesque mauris ultricies. Sed porttitor turpis quis nulla sollicitudin dapibus. Pellentesque nibh nunc, auctor in convallis at, vehicula at erat. </p>
    <p>Morbi nunc diam, vestibulum a tristique a, gravida ac risus. Integer mattis eros eu tortor consectetur consequat. Suspendisse ut tortor nisi.</p>
  </div><!-- section -->
  <div class="aside">
    <h2>¿Qué es Metroroto?</h2>
    <p>Nunc vel metus rhoncus velit mattis adipiscing. Nulla euismod sapien vitae diam tempus ullamcorper. In consectetur facilisis interdum. Mauris mollis ultrices magna quis gravida. Nunc eu laoreet orci. Donec sit amet fringilla lacus. Morbi at urna justo. </p>
    <p>Pellentesque interdum purus a ipsum laoreet mollis. Suspendisse nisl magna, ornare quis gravida id, auctor et ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris risus lectus, iaculis quis tincidunt vehicula, mollis sed magna. Aliquam sagittis aliquam metus sed fringilla. Duis lectus risus, rhoncus sagittis porta nec, sagittis eget ipsum. Mauris ante mauris, porttitor at facilisis ac, pharetra sed eros. Ut quis justo tellus, vel luctus diam.</p>
    
  </div><!-- .aside -->
  
  <div class="separator">
    <hr />
  </div><!-- .separator -->
  
  <div class="section">
    <h2>¿Cómo se usa?</h2>    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at turpis a turpis lacinia venenatis vitae et velit. Nunc libero lorem, pharetra in rutrum vel, blandit nec dolor. Morbi at lacus sapien. Proin placerat mollis lectus, nec tristique lorem sagittis a. Quisque pulvinar, quam at ullamcorper dignissim, leo mauris sodales mauris, sed sodales lectus diam vel nunc. Suspendisse potenti.</p>
    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam quis dolor turpis. Morbi luctus augue at odio dapibus sit amet posuere arcu bibendum. Maecenas rutrum congue bibendum. Ut mi odio, tristique at tempus et, convallis in nunc. Pellentesque vestibulum metus id tortor venenatis id adipiscing lectus consectetur. Vivamus tempor lectus vel lectus viverra ut pellentesque mauris ultricies. Sed porttitor turpis quis nulla sollicitudin dapibus. Pellentesque nibh nunc, auctor in convallis at, vehicula at erat. Morbi nunc diam, vestibulum a tristique a, gravida ac risus. Integer mattis eros eu tortor consectetur consequat. Suspendisse ut tortor nisi.</p>
  </div><!-- section -->
  <div class="aside">
    <h2>¿Qué es Metroroto?</h2>
    <p>
    Nunc vel metus rhoncus velit mattis adipiscing. Nulla euismod sapien vitae diam tempus ullamcorper. In consectetur facilisis interdum. Mauris mollis ultrices magna quis gravida. Nunc eu laoreet orci. Donec sit amet fringilla lacus. Morbi at urna justo. Pellentesque interdum purus a ipsum laoreet mollis. Suspendisse nisl magna, ornare quis gravida id, auctor et ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris risus lectus, iaculis quis tincidunt vehicula, mollis sed magna. Aliquam sagittis aliquam metus sed fringilla. Duis lectus risus, rhoncus sagittis porta nec, sagittis eget ipsum. Mauris ante mauris, porttitor at facilisis ac, pharetra sed eros. Ut quis justo tellus, vel luctus diam.
    </p>
  </div><!-- .aside -->
  
  
</div><!-- content -->



<% content_for :js_includes do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
    
    	if (GBrowserIsCompatible()) {
          map = new GMap2(document.getElementById("map_canvas"));
          map.setCenter(new GLatLng(40.4166909, -3.7003454), 13);
          map.addControl(new GSmallMapControl());
          <%= incident_markers_grouped_by_station @incidents %>
    
    	//Create new Tile Layer
    	  var gTileUrlTemplate = 'http://mt1.google.com/vt/lyrs=m@121,transit|vm:1&hl=en&opts=r&x={X}&y={Y}&z={Z}';
    	  var tileLayerOverlay = new GTileLayerOverlay(
    	    new GTileLayer(null, null, null, {
    	      tileUrlTemplate: gTileUrlTemplate,
    	      isPng:true,
    	      opacity:0.8
    	    })
    	  );
    	  map.addOverlay(tileLayerOverlay);
        }

    });

  </script>
<% end %>