
  
  <div class="section">
    <h2>¿Qué es Metroroto?</h2>
    <p>Con Metroroto podrás saber al momento si hay problemas en la red del Metro de Madrid.</p>
    <p>A todos nos ha pasado lo de salir de casa o del trabajo, meterte en el metro y cuando llegas al andén darte cuenta que la línea está estropeada. ¡Podías haber pillado otra línea!</p>
    <p>Con esta idea surge Metroroto: que los usuarios comuniquen las incidencias que "sufren" y, de manera colaborativa, ayuden al resto de usuarios a huir de ellas.</p>
    <p>Para ello necesitamos que nos ayudes a localizarlas.</p>
  </div><!-- section -->
  <div class="aside">
    <h2>¿Cómo se usa?</h2>
    <p>Nunc vel metus rhoncus velit mattis adipiscing. Nulla euismod sapien vitae diam tempus ullamcorper. In consectetur facilisis interdum. Mauris mollis ultrices magna quis gravida. Nunc eu laoreet orci. Donec sit amet fringilla lacus. Morbi at urna justo. </p>
    <p>Pellentesque interdum purus a ipsum laoreet mollis. Suspendisse nisl magna, ornare quis gravida id, auctor et ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris risus lectus, iaculis quis tincidunt vehicula, mollis sed magna. Aliquam sagittis aliquam metus sed fringilla. Duis lectus risus, rhoncus sagittis porta nec, sagittis eget ipsum. Mauris ante mauris, porttitor at facilisis ac, pharetra sed eros. Ut quis justo tellus, vel luctus diam.</p>
    
  </div><!-- .aside -->
  
  <div class="separator">
    <hr />
  </div><!-- .separator -->
  
  <div class="section">
    <h2>¿Cómo comunico las incidencias?</h2>    
    <p>Desde Twitter:</p>
    <ul>
    	<li>Twittea la incidencia con los siguientes hashtags: #metroroto #linea #estación</li>
    	<li>Por ejemplo: "Metro parado en Carabanchel #metroroto #l5 #carabanchel"</li>
    	<li>También puedes ahorrarte la línea: "Metro parado en Carabanchel #metroroto #carabanchel"</li>
    </ul>
	</p>
	<p>Tu incidencia aparecerá en el mapa de la web y será retwitteada a la cuenta de metroroto</p>
	<p>Desde la Web:</p>
	<p>Usa el formulario de la Portada para dar de alta la incidencia poniendo la estación, la línea y, si lo sabes, el sentido. La incidencia aparecerá en el mapa inmediatamente.</p>
  </div><!-- section -->
  <div class="aside">
    <h2>¿Cómo consulto el estado del metro?</h2>
    <p>Desde Twitter:</p>
    <p>Sigue la cuenta de @metroroto y en tu Timeline aparecerán las incidencias que la gente va añadiendo</p>
    <p>Desde la Web:</p>
    <p>Aparte de ver las incidencias en el mapa de la portada, en los mapas de las líneas y en los semáforos, puedes suscribirte mediante Feeds. Tienes uno en la Portada con todas las incidencias, y otro en cada una de las líneas para suscribirte a las líneas que más usas</p>
    <p>Desde el correo:</p>
    <p>Puedes suscribirte a tus líneas preferidas o a todas desde el formulario de la Portada. Recibirás un correo cada vez que haya una incidencia en alguna de las líneas a las que te hayas suscrito.</p>
  </div><!-- .aside -->
  
  
</div><!-- content -->



<% content_for :js_includes do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
    
    	if (GBrowserIsCompatible()) {
          map = new GMap2(document.getElementById("map_canvas"));
          map.setCenter(new GLatLng(40.4166909, -3.7003454), 13);
          map.addControl(new GSmallMapControl());
          <%= incident_markers_grouped_by_station @incidents %>
    
    	//Create new Tile Layer
    	  var gTileUrlTemplate = 'http://mt1.google.com/vt/lyrs=m@121,transit|vm:1&hl=en&opts=r&x={X}&y={Y}&z={Z}';
    	  var tileLayerOverlay = new GTileLayerOverlay(
    	    new GTileLayer(null, null, null, {
    	      tileUrlTemplate: gTileUrlTemplate,
    	      isPng:true,
    	      opacity:0.8
    	    })
    	  );
    	  map.addOverlay(tileLayerOverlay);
        }

    });

  </script>
<% end %>